/*

0-600px       	phone
600px-900px    	tablet porttrait
900px-1200px  	tablet landscape
1200px-1800px 	is where normal style apply
1800px-above	big desktop


$breakpoints arguments choices
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Order : base + typography > general layout + grid > page layout > componenets

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #4bc3d6;
  font-family: 'Playfair Display', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  max-height: 100%; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

body {
  font-size: 16px;
  line-height: 1.7;
  color: #f7f7f7; }

.body-text {
  font-size: 17px;
  line-height: 32px;
  color: #666; }
  .body-text--bigger {
    color: #666;
    font-size: 24px;
    line-height: 40px; }

.heading-primary {
  color: #fffff;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.6; }
  .heading-primary--break {
    display: block;
    margin-top: -3rem;
    margin-bottom: -5rem; }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase; }

.heading-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #333;
  font-weight: 700;
  letter-spacing: 3px; }

.heading-third {
  font-size: 28px;
  color: #333; }

.slider-text {
  font-size: 44px;
  line-height: 54px;
  color: #666; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.padding-top-bottom {
  padding-top: 80px;
  padding-bottom: 80px; }
  .padding-top-bottom--less {
    padding-top: 40px;
    padding-bottom: 40px; }

.margin--auto {
  margin-left: auto;
  margin-right: auto; }

.max-width--1040 {
  max-width: 1040px; }

.max-width--1140 {
  max-width: 1140px; }

.image-height--400 {
  max-height: 400px; }

#particles-js {
  position: relative;
  z-index: 100; }

.button:link, .button:visited {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 35px;
  display: inline-block;
  transition: all 0.2s;
  font-size: 13px;
  letter-spacing: 2px;
  position: relative; }

.button--blue {
  background-color: #4bc3d6;
  color: #fff; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(48, 71, 105, 0.65);
  position: absolute;
  top: 0px;
  left: 0px; }

.navigation {
  display: none; }

.header {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__content-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem; }
  .header__logo {
    height: 50px; }
  .header--arrow {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }
