/*

0-600px       	phone
600px-900px    	tablet porttrait
900px-1200px  	tablet landscape
1200px-1800px 	is where normal style apply
1800px-above	big desktop


$breakpoints arguments choices
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Order : base + typography > general layout + grid > page layout > componenets

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #4bc3d6;
  font-family: 'Playfair Display', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  max-height: 100%; }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-15px); } }

body {
  font-size: 16px;
  line-height: 1.7;
  color: #f7f7f7; }

.body-text {
  font-size: 17px;
  line-height: 32px;
  color: #666; }
  .body-text--bigger {
    color: #666;
    font-size: 24px;
    line-height: 40px; }

.heading-primary {
  color: #fffff;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.6; }
  .heading-primary--break {
    display: block;
    margin-top: -3rem;
    margin-bottom: -5rem; }
  .heading-primary--main {
    display: block; }
  .heading-primary--sub {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase; }

.heading-secondary {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  color: #333;
  font-weight: 700;
  letter-spacing: 3px; }
  .heading-secondary--white {
    color: white; }
  .heading-secondary--small {
    font-size: 14px; }
  .heading-secondary--grey {
    color: #666; }
  .heading-secondary--lowercase {
    text-transform: initial; }
  .heading-secondary--blue {
    color: #4bc3d6;
    font-size: 26px; }
  .heading-secondary--margin-bottom {
    margin-bottom: 30px; }

.heading-third {
  font-size: 28px;
  color: #333; }
  .heading-third__bigger {
    font-size: 36px;
    line-height: 44px;
    color: white; }
  .heading-third--line-height54 {
    line-height: 54px; }
  .heading-third--grey {
    color: #333; }
  .heading-third--smaller {
    font-size: 22px;
    line-height: 38px;
    color: #666; }

.u-center-text {
  text-align: center; }

.u-left-text {
  text-align: left; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 3.5rem; }

.u-margin-bottom-15px {
  margin-bottom: 15px; }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.text--break {
  display: block; }

.padding-top-bottom {
  padding-top: 80px;
  padding-bottom: 80px; }
  .padding-top-bottom--less {
    padding-top: 40px;
    padding-bottom: 40px; }
  .padding-top-bottom--bigger {
    padding-top: 180px;
    padding-bottom: 180px; }

.padding-bottom {
  padding-bottom: 25px; }

.margin--auto {
  margin-left: auto;
  margin-right: auto; }

.gutter-15 {
  margin-right: 0;
  margin-left: 0; }
  .gutter-15 > .col,
  .gutter-15 > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px; }

.max-width--1040 {
  max-width: 1040px; }

.max-width--1140 {
  max-width: 1140px; }

.max-width--1240 {
  max-width: 1240px; }

.image-height--500 {
  max-height: 500px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-indicators li {
  position: relative;
  bottom: -50px;
  border-radius: 12px;
  width: 12px;
  height: 12px;
  border: 1px solid #333;
  background-color: transparent; }

.carousel-indicators .active {
  background-color: #666; }

.button:link, .button:visited {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 35px;
  display: inline-block;
  transition: all 0.2s;
  font-size: 13px;
  letter-spacing: 2px;
  position: relative;
  font-weight: bold; }

.button--blue {
  background-color: #4bc3d6;
  color: #fff; }

.button__transperant {
  color: #fff;
  border: 1px solid white; }

.btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 35px;
  display: inline-block;
  transition: all 0.2s;
  font-size: 13px;
  letter-spacing: 2px;
  position: relative;
  border: none;
  border-radius: 0px; }
  .btn-primary {
    background-color: #4bc3d6;
    color: #fff; }
  .btn:hover, .btn:visited {
    background-color: #279bad;
    color: white; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.bg-white {
  background-color: white; }

.form-control {
  height: 48px;
  border-radius: 0px;
  font-size: 16px; }

.form-row div:first-child {
  padding-left: 0px; }

.form-row div:last-child {
  padding-right: 0px; }

.fixed-background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 14rem;
  padding-bottom: 14rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .fixed-background--news {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/news.jpg"); }
  .fixed-background--testimonial {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/approach-testimonial.jpg");
    background-attachment: scroll;
    background-position: center center; }
  .fixed-background--our-approach-image {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/our-approach-fixed-image.jpg");
    padding-top: 25rem;
    padding-bottom: 25rem; }
  .fixed-background--user-insight {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/user-insights.jpg"); }
  .fixed-background--news-insight {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/govt-image.jpg");
    background-position: center center; }
  .fixed-background--website-development {
    background-image: linear-gradient(to bottom, rgba(48, 71, 105, 0.65), rgba(48, 71, 105, 0.65)), url("../img/website-development.jpg");
    background-position: center center; }
  .fixed-background--text {
    position: relative;
    z-index: 3; }

.images--full-width {
  width: 100%;
  height: 100%; }

.images--grey-hover-color {
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .9s ease-in-out; }
  .images--grey-hover-color:hover {
    filter: none;
    -webkit-filter: grayscale(0); }

.images--overlay-box {
  position: relative; }
  .images--overlay-box h2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: rgba(48, 71, 105, 0.8);
    color: #fff;
    opacity: 0;
    transition: 1s;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .images--overlay-box:hover h2 {
    opacity: 1; }

.contact {
  background: #4bc3d6;
  padding-top: 11rem;
  padding-bottom: 11rem; }

#slider {
  position: relative;
  height: 540px;
  width: 100%;
  padding-left: 50px;
  padding-left: 50px; }

#slider > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

.slider-text-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -50%); }

.navigation {
  display: none; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(48, 71, 105, 0.8), rgba(48, 71, 105, 0.6)), url(../img/home-bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__our-approach {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(48, 71, 105, 0.8), rgba(48, 71, 105, 0.6)), url(../img/our-approach-bg.jpg); }
  .header__user-insights {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(48, 71, 105, 0.8), rgba(48, 71, 105, 0.6)), url(../img/user-insights.jpg);
    background-position: center center; }
  .header__brand-strategy {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(48, 71, 105, 0.8), rgba(48, 71, 105, 0.6)), url(../img/brand-strategy.jpg);
    background-position: center center; }
  .header__website-design {
    height: 70vh;
    background-image: linear-gradient(to right bottom, rgba(48, 71, 105, 0.8), rgba(48, 71, 105, 0.6)), url(../img/website-bg.jpg);
    background-position: center center; }
  .header__content-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem; }
  .header__logo {
    height: 50px; }
  .header--arrow {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate; }

#particles-js {
  position: relative;
  z-index: 100; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

footer {
  background-color: #333;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px; }
  footer a {
    color: white;
    margin-bottom: 10px;
    display: inline-block; }
    footer a:hover, footer a:active, footer a:visited {
      color: white; }
  footer i {
    display: inline-block;
    margin-right: 10px; }
  footer .footer-icon-margin-left {
    margin-left: 20px;
    display: inline-block;
    margin-bottom: 10px; }

.copyright {
  background-color: #1d1d1d;
  padding-top: 25px;
  padding-bottom: 20px; }
  .copyright div {
    padding-left: 0px;
    padding-right: 0px; }
  .copyright ul {
    margin-bottom: 0px;
    margin-top: -10px; }
  .copyright li {
    display: inline-block;
    margin-left: 20px;
    font-size: 22px;
    cursor: pointer; }
  .copyright i {
    color: #666; }

.user-insight-slider-section {
  height: 540px;
  background-color: #f2f2f2; }
