// Primary colors
$color-primary:#4bc3d6;
$color-white:#fffff;

// Grey colors
$color-grey:#f7f7f7;
$color-heading-dark-grey:#333;
$color-body-light-grey:#666;
$color-body-heading-grey:#403d39;



// Grid Settings
$grid-width:1140px;
$gutter-vertical:8rem;
$gutter-vertical-small:8rem;
$gutter-horizontal:6rem;
