.header{
  height:100vh;
  background-image:linear-gradient(
		to right bottom
		,rgba($overlay-color,0.8)
		,rgba($overlay-color,0.6)),url(../img/home-bg.jpg);
	background-size: cover;
	background-position:top;
	position: relative;

  &__our-approach{
    height:70vh;
    background-image:linear-gradient(
  		to right bottom
  		,rgba($overlay-color,0.8)
  		,rgba($overlay-color,0.6)),url(../img/our-approach-bg.jpg);
  }

  &__user-insights{
    height:70vh;
    background-image:linear-gradient(
      to right bottom
      ,rgba($overlay-color,0.8)
      ,rgba($overlay-color,0.6)),url(../img/user-insights.jpg);
    background-position: center center;
  }
  &__brand-strategy{
    height:70vh;
    background-image:linear-gradient(
      to right bottom
      ,rgba($overlay-color,0.8)
      ,rgba($overlay-color,0.6)),url(../img/brand-strategy.jpg);
    background-position: center center;
  }

  &__website-design{
    height:70vh;
    background-image:linear-gradient(
      to right bottom
      ,rgba($overlay-color,0.8)
      ,rgba($overlay-color,0.6)),url(../img/website-bg.jpg);
    background-position: center center;
  }


  &__content-centered{
    @include ContentCenter;
  }

  &__logo-box{
    position:absolute;
    top:3rem;
    left:4rem;

  }
  &__logo{
    height:50px;
  }

  &--arrow{
    position: absolute;
    bottom:2%;
    right:50%;
    transform:translateX(50%);
    animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  }
}

// Particle js styles
#particles-js{
  position: relative;
  z-index: 100;
}
