.fixed-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top:14rem;
  padding-bottom:14rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--news{
    background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/news.jpg");
  }
  &--testimonial{
    background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/approach-testimonial.jpg");
    background-attachment:scroll;
    background-position: center center;
  }
  &--our-approach-image{
    background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/our-approach-fixed-image.jpg");
    padding-top:25rem;
    padding-bottom:25rem;
  }

  &--user-insight{
    background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/user-insights.jpg");
  }

  &--news-insight{
      background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/govt-image.jpg");
      background-position: center center;
  }
  &--website-development{
    background-image:linear-gradient(to bottom, rgba(48, 71, 105, .65), rgba(48, 71, 105, .65)),url("../img/website-development.jpg");
    background-position: center center;
  }

  &--text{
    position: relative;
    z-index: 3;
  }
}
