.images{


  &--full-width{
    width:100%;
    height:100%;
  }

  &--grey-hover-color{
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .9s ease-in-out;
      &:hover{
        filter: none;
      -webkit-filter: grayscale(0);
      }
  }
}
