body{
	font-size:16px;
	line-height:1.7;
	color:$color-grey;
}

.body-text{
	font-size:17px;
	line-height:32px;
	color:$color-body-light-grey;

	&--bigger{
		color:$color-body-light-grey;
		font-size:24px;
		line-height: 40px;

	}
}

.heading-primary{
  color:$color-white;
  text-align: center;
  position: relative;
  z-index: 2;
  font-size:64px;
  font-weight:300;
  letter-spacing: 0px;
	line-height: 1.6;

  &--break{
    display: block;
    margin-top:-3rem;
    margin-bottom: -5rem;
  }

  &--main{
    display:block;
  }

  &--sub{
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:3px;
    font-weight:600;
    text-transform: uppercase;
  }
}

.heading-secondary{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform:uppercase;
	line-height: 18px;
	color:$color-heading-dark-grey;
	font-weight:700;
	letter-spacing: 3px;

	&--white{
		color:white;
	}

	&--small{
		font-size:14px;

	}
	&--grey{
		color:$color-body-light-grey;
	}
	&--lowercase{
		text-transform:initial;
	}
	&--blue{
		color:$color-primary;
		font-size:26px;
	}

	&--margin-bottom{
		margin-bottom:30px;
	}
}

.heading-third{
	font-size:28px;
	color:$color-heading-dark-grey;

	&__bigger{
		font-size:36px;
		line-height: 44px;
		color:white;
	}
	&--line-height54{
		line-height: 54px;
	}
}


// Slider text for homepage
.slider-text{
	font-size:44px;
	line-height: 54px;
	color:$color-body-light-grey;

	&--link-image{
		width:13px;
	}

	&--margin-bottom{
		margin-bottom:20px;
	}
}
